
*.pyc
*.sqaConverts_with_core
.sqaConverts_without_core

# Python packaging
*.egg-info/
__pycache__/
build/
dist/
.eggs/

# Virtual environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp
.DS_Store
